
# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Local development logs
logs
*.log
*.tsbuildinfo

# Build files
/build
/.next
/out

# Editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

#Exynos-->VAscan
._darcs
.bzr
.hg
BitKeeper