:root{
    --clr: white;
}

.indicator {
    background: white;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    margin-inline: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    /* border-radius: 50px; */
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.indicator::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    left: -17px;
    bottom: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 4px 6px 0 1px var(--clr);
}

.indicator::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    right: -17px;
    bottom: 20px;
    border-bottom-left-radius: 20px;
    /* border-top-right-radius: 10px; */
    box-shadow: -4px 6px 0 1px var(--clr);
}

/* .icon-flag {
    background-color: #00ADEF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
} */

/* .icon-flag:hover {
    background-color: #44abff;
    transition: 0.3s;
} */
.icon-flag {
    background-color: #00ADEF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
}

.icon-flag:hover {
    background-color: #44abff;
}

/* Bouncing animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* Apply bouncing animation on hover */
.icon-flag:hover {
    animation: bounce 0.5s ease-in-out infinite;
}