.custom-layout-un-auth {
    width: 500px;
}

.custom-layout-un-auth > .panel-logo-customer {
    height: 150px;
    transition: 0.3s;
}

.custom-layout-un-auth > .panel-logo-customer > .logo-customer {
    width: 170px;
    height: 70px;
    transition: 0.3s;
    object-fit: contain;
}

.button-submit-unauth {
    width: 100%;
    height: 60px;
    transition: 0.3s;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    color: #fff;
}

@media only screen and (max-width: 800px), (max-height: 800px) {
    .custom-layout-un-auth {
        width: 480px;
    }

    .custom-layout-un-auth > .panel-logo-customer {
        height: 120px;
    }

    .custom-layout-un-auth > .panel-logo-customer > .logo-customer {
        height: 50px;
    }

    .button-submit-unauth {
        height: 50px;
    }
}